# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
drumkit-venv/
venv/
.venv/
env/

# PyInstaller build artifacts
build/
dist/
*.zip
*.exe

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
